{
  "presets": [ [ "es2015", { "modules": false }] ,"react" ,"stage-0" ],
  "plugins":[
//    ["babel-plugin-import",{
//      "libraryName": "antd",
//      "style": "css"
//    }],
    ["import", { "libraryName": "antd", "style": true }],
    "transform-class-properties",
    "transform-object-rest-spread",
    //for reactjs hmr
    "react-hot-loader/babel"
  ]
}